.power {
    width: 200px;
    height: 40px;
    position: relative;
    left: 50%;
    margin-left: -100px;
}

.on {
    padding: 5px 15px;
    background-color: #ababab;
    display: inline;
    color: #ababab;
    border: 1px solid #000000;
}

.on:hover {
    color: #000000;
    font-weight: bold;
}

.off {
    padding: 3px 15px;
    display: inline;
    background-color: #23fa56;
    border: 1px solid #000000;
    border-left: 1px solid #23fa56;
}

.off a {
    color: #000000;
}

p {
    text-align: center;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.outro {
    text-align: center;
}

.aluno {
    padding: 20px 100px;
}

.foto {
    text-align: right;
}

.foto img {
    max-width: 100px;
    max-height: 100px;
}

.info {
    text-align: center;
}

.info p {
    text-align: left;
}

td {
    /*border: 1px solid #000 !important;*/
}

.desenvolvido a {
    color: #ffffff !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0 !important;
}

input, select, textarea {
    height: 40px;
    width: 45px;
    font-size: 21px !important;
}

.table-responsive {
    max-width: 430px;
    text-align: center;
    margin: auto;
}

button, input, select, textarea {
    text-align: center;
}

input {
    border: 1px solid #ccc;
}

.smile {
    max-width: 30px;
    max-height: 30px;
    margin: 10px;
}

.primeiro-paragrafo {
    margin-top: 50px;
    margin-bottom: 20px;
}

.texto-introdutorio {
    text-align: center;
}

.sudokar {
    margin: 20px 0;
    border-radius: 0 !important;
}

.imagem-home {
    text-align: center;
}

.logo {
    text-align: center;
}

.logo img {
    margin: auto;
    max-width: 100%;
}

.botao-esq {
    text-align: right;
}

.botao-dir {
    text-align: left;
}

.rodape {
    background-color: #286090;
    margin-top: 60px;
    min-height: 50px;
    color: #ffffff;
    margin-top: 1px solid #204d74;
}

.desenvolvido {
    padding-top: 15px;
    text-align: left;
    padding-left: 50px;
}

.direitos {
    padding-top: 15px;
    text-align: right;
    padding-right: 50px;
}

.cabecalho {
    margin-bottom: 50px;
}

@media(max-width: 767px) {
    .botao-esq {
        text-align: center;
    }

    .botao-dir {
        text-align: center;
    }
}